body{
    background-color:red;
    color: #d61c1c;
}
h1, h3{
    color: #a42100;
    background-color: #F0F0F0;
    font-family: Lucida, Helvetica, Arial, sans-serif;
    text-align: left;
    font-size: 18pt;
    text-decoration: underline;
}
h1{
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
}